@charset "UTF-8";

html {
  height: 100%;
}

body {
  height: 100%;
  font-family: 'Lato', 'Noto Sans JP', 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
}


ul {
  list-style: none;
}

.easy-login {
  border: 2px solid rgb(172, 169, 169);
  padding-bottom: 10px;
  padding-top: 10px;
}

.top-title {
  font-family: 'Lato', 'Anton', 'Oswald','Roboto Condensed','Segoe UI Black', 'arial', 'MS Gothic', sans-serif;
  font-size: 30px;
  margin-bottom: 20px; 
  margin-top: 20px; 
}

.suggest-msg {
  margin-bottom: 15px;
  margin-top: 30px;
}

.main-tag-group { 
  display: inline-block;
  text-align: center;
}

.main-tag {
  margin: 10px 15px;
  border-radius: 20px;
}

.input-box {
  display: flex;
  justify-content: flex-end;
  width: 90vw;
}

/* Top入力フォームのスタイル */
.input-form-set {
  position: relative;
  width: 85%;
}

.input-form-set input[type=text] {
  font: 15px/24px sans-serif;
  box-sizing: border-box;
  width: 100%;
  padding: 0.3em;
  padding-left: 40px;
  letter-spacing: 1px;
  border: 0;
}

.input-form-set input[type=text]:focus {
  outline: none;
}

.input-form-set input[type=text]:focus::after {
  outline: none;
}

.input-form-set i {
  position: absolute;
  top: 0;
  left: 0;
  padding: 9px 5px;
  transition: 0.3s;
  color: #aaaaaa;
}

.input-form-set::after {
  display: block;
  width: 100%;
  height: 4px;
  margin-top: -1px;
  content: "";
  border-width: 0 1px 1px 1px;
  border-style: solid;
  border-color: #da3c41;
}

.form-wrap {
  width: 90vw;
}

.form-area {
  border: 1px solid #dbdbdb;
  height: 150px;
}

.top-form-alert {
  color:red;
  text-align:right;
}

.button-group {
  text-align: center;
}

.subject-item {
  margin-bottom: 20px;
  margin-top: 30px;
}

.tag-line {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.btn-tag {
  border-radius: 20px;
}

/* TOPページタブレット画面のCSS */
@media (min-width: 576px) { 
  .btn-color {
    background-color: #3490dc !important;
    border-color: #3490dc !important;
    color: white !important;
  }
  
  .fixed-navbar-mobile {
    background-color: #3490dc;
  }
  
  .top-title {
    font-size: 40px;
    margin-bottom: 48px; 
    margin-top: 48px; 
  }

  .main-tag-group {
    flex-wrap: wrap;
  }

  .input-box {
    width: auto;
  }

  .form-wrap {
    width: auto;
  }

}

/* TOPページのPC画面のCSS */
@media (min-width: 992px) {
  .main-tag-group {
    display: flex;
    justify-content: center;
  } 
  
  .form-container {
    margin-left: 100px;
    margin-right: 100px;
  }

  .tag-line {
    flex-wrap: nowrap;
  }
}


/* スマホ画面 */
@media (max-width: 576px) {
  .sub-tag {
    display: none;
  }
}

/* スマホのCSS */
@media (max-width: 576px) { 
  .fixed-navbar-mobile {
    position: fixed !important
  }
}


.main {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.left-col {
  order: 2;
}

.add-title-btn {
  color: black;
}
.add-title-btn:hover {
  border: 1px solid #f5f0f0f3;
  text-decoration: none;
  padding: 5px;
  border-radius: 10px;
  background-color: #f5f0f0f3;
  color: black;
}

.title-list {
  list-style: none;
}

.title-loop {
  display: flex;
}

/* 編集削除アイコンを右に寄せる */
.title-icon-section {
  margin-left: auto;
  margin-top: 7px;
}

.delete-icon {
  margin-left: 5px;
}

/* タイトルアイコンのサイズ */
.image-sizing {
  height: 17px;
  width: 17px;
}

.edit-title {
  margin-left: 5px;
}

.textAlert {
  padding: 0px;
  color: red;
  text-align: center;
}

.plusAwesome{
  color: gray !important;
}

    
.navbar-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(112,144,0,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.headingIndex {
  border: none;
  border-bottom: 1px solid gray;
}

/* headerのCSS */
.top-todo-title {
  font-family: 'Lato', 'Anton', 'Oswald','Roboto Condensed','Segoe UI Black', 'arial', 'MS Gothic', sans-serif;
  font-size: 1.3rem;
}

  
.right-col {
  order: 1;
  margin-left: 30px;
  margin-right: 30px;
}

/* mypageタブレット画面以上 */
@media screen and (min-width: 576px) {
  .main {
    display: flex;
    flex-direction: row;
  }
  
  .left-col {
    flex: 3;
    order: 1;
  }
  
  .right-col {
    flex: 5;
    order: 2;
    margin-left: 50px;
    margin-right: 50px;
  }
  
  .headingIndex {
    margin-right: 50px;
  }
}

/* mypagePC画面以上 */
@media (min-width: 992px) {
  /* タイトル一覧の左右余白のレスポンシブ */
    .left-title-box {
      margin-left: 60px;
      margin-right: 60px;
    }
  }